In [ ]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
# set options
pd.set_option('display.float_format', '{:,.2f}'.format)

In [7]:
# read data
df = pd.read_csv("/".join(["../data/raw/", "hr-analytics-prediction", "HR-Employee-Attrition.csv"]))

In [19]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469
Age,41,49,37,33,27,32,59,30,38,36,...,29,50,39,31,26,36,39,27,49,34
Attrition,Yes,No,Yes,No,No,No,No,No,No,No,...,No,Yes,No,No,No,No,No,No,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Frequently,Travel_Rarely,...,Travel_Rarely,Travel_Rarely,Travel_Rarely,Non-Travel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Frequently,Travel_Rarely
DailyRate,1102,279,1373,1392,591,1005,1324,1358,216,1299,...,468,410,722,325,1167,884,613,155,1023,628
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,...,Research & Development,Sales,Sales,Research & Development,Sales,Research & Development,Research & Development,Research & Development,Sales,Research & Development
DistanceFromHome,1,8,2,3,2,2,3,24,23,27,...,28,28,24,5,5,23,6,4,2,8
Education,2,1,2,4,1,2,3,1,3,3,...,4,3,1,3,3,2,1,3,3,3
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical,Life Sciences,Medical,Life Sciences,Life Sciences,Medical,...,Medical,Marketing,Marketing,Medical,Other,Medical,Medical,Life Sciences,Medical,Medical
EmployeeCount,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
EmployeeNumber,1,2,4,5,7,8,10,11,12,13,...,2054,2055,2056,2057,2060,2061,2062,2064,2065,2068
EnvironmentSatisfaction,2,3,4,4,1,4,3,4,4,3,...,4,4,2,2,4,3,4,2,4,2
Gender,Female,Male,Male,Female,Male,Male,Female,Male,Male,Male,...,Female,Male,Female,Male,Female,Male,Male,Male,Male,Male
HourlyRate,94,61,92,56,40,79,81,67,44,94,...,73,39,60,74,30,41,42,87,63,82
JobInvolvement,3,2,2,3,3,3,4,3,2,3,...,2,2,2,3,2,4,2,4,2,4
JobLevel,2,2,1,1,1,1,1,1,3,2,...,1,3,4,2,1,2,3,2,2,2
JobRole,Sales Executive,Research Scientist,Laboratory Technician,Research Scientist,Laboratory Technician,Laboratory Technician,Laboratory Technician,Laboratory Technician,Manufacturing Director,Healthcare Representative,...,Research Scientist,Sales Executive,Sales Executive,Manufacturing Director,Sales Representative,Laboratory Technician,Healthcare Representative,Manufacturing Director,Sales Executive,Laboratory Technician
JobSatisfaction,4,2,3,3,2,4,1,3,3,3,...,1,1,4,1,3,4,1,2,2,3
MaritalStatus,Single,Married,Single,Married,Married,Single,Married,Divorced,Single,Married,...,Single,Divorced,Married,Single,Single,Married,Married,Married,Married,Married
MonthlyIncome,5993,5130,2090,2909,3468,3068,2670,2693,9526,5237,...,3785,10854,12031,9936,2966,2571,9991,6142,5390,4404
MonthlyRate,19479,24907,2396,23159,16632,11864,9964,13335,8787,16577,...,8489,16586,8828,3787,21378,12290,21457,5174,13243,10228
NumCompaniesWorked,8,1,6,1,9,0,4,1,0,6,...,1,4,0,0,0,4,4,1,2,2
Over18,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y
OverTime,Yes,No,Yes,Yes,No,No,Yes,No,No,No,...,No,Yes,No,No,No,No,No,Yes,No,No
PercentSalaryHike,11,23,15,11,12,13,20,22,21,13,...,14,13,11,19,18,17,15,20,14,12
PerformanceRating,3,4,3,3,3,3,4,4,4,3,...,3,3,3,3,3,3,3,4,3,3
RelationshipSatisfaction,1,4,2,3,4,3,1,2,2,2,...,2,2,1,2,4,3,1,2,4,1
StandardHours,80,80,80,80,80,80,80,80,80,80,...,80,80,80,80,80,80,80,80,80,80
StockOptionLevel,0,1,0,0,1,0,3,1,0,2,...,0,1,1,0,0,1,1,1,0,0
TotalWorkingYears,8,10,7,8,6,8,12,1,10,17,...,5,20,21,10,5,17,9,6,17,6
TrainingTimesLastYear,0,3,3,3,3,2,3,2,2,3,...,3,3,2,2,2,3,5,0,3,3
WorkLifeBalance,1,3,3,3,3,2,2,3,3,2,...,1,3,2,3,3,3,3,3,2,4
YearsAtCompany,6,10,0,8,2,7,1,1,9,7,...,5,3,20,9,4,5,7,6,9,4
YearsInCurrentRole,4,7,0,7,2,7,0,0,7,7,...,4,2,9,4,2,2,7,2,6,3
YearsSinceLastPromotion,0,1,0,3,2,3,0,0,1,7,...,0,2,9,1,0,0,1,0,0,1
YearsWithCurrManager,5,7,0,0,2,6,0,0,8,7,...,4,0,6,7,0,3,7,3,8,2

In [24]:
#duplicates
df.duplicated().sum()

#duplicates without ID
df.drop("EmployeeNumber", axis=1).duplicated().sum()

np.int64(0)

In [18]:
def overview(df=df):
    display(pd.DataFrame({"dtypes": df.dtypes,
                        "total": df.count(),
                        "missing_n": df.isna().sum(),
                        "missing_%": df.isna().mean(),
                        "uniques_n": df.nunique(),
                        "uniques": [df[col].unique() for col in df.columns]
                        }))

overview()

,dtypes,total,missing_n,missing_%,uniques_n,uniques
Age,int64,1470,0,0.00,43,"[41, 49, 37, 33, 27, 32, 59, 30, 38, 36, 35, 2..."
Attrition,object,1470,0,0.00,2,"[Yes, No]"
BusinessTravel,object,1470,0,0.00,3,"[Travel_Rarely, Travel_Frequently, Non-Travel]"
DailyRate,int64,1470,0,0.00,886,"[1102, 279, 1373, 1392, 591, 1005, 1324, 1358,..."
Department,object,1470,0,0.00,3,"[Sales, Research & Development, Human Resources]"
DistanceFromHome,int64,1470,0,0.00,29,"[1, 8, 2, 3, 24, 23, 27, 16, 15, 26, 19, 21, 5..."
Education,int64,1470,0,0.00,5,"[2, 1, 4, 3, 5]"
EducationField,object,1470,0,0.00,6,"[Life Sciences, Other, Medical, Marketing, Tec..."
EmployeeCount,int64,1470,0,0.00,1,[1]
EmployeeNumber,int64,1470,0,0.00,1470,"[1, 2, 4, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16,..."
EnvironmentSatisfaction,int64,1470,0,0.00,4,"[2, 3, 4, 1]"
Gender,object,1470,0,0.00,2,"[Female, Male]"
HourlyRate,int64,1470,0,0.00,71,"[94, 61, 92, 56, 40, 79, 81, 67, 44, 84, 49, 3..."
JobInvolvement,int64,1470,0,0.00,4,"[3, 2, 4, 1]"
JobLevel,int64,1470,0,0.00,5,"[2, 1, 3, 4, 5]"
JobRole,object,1470,0,0.00,9,"[Sales Executive, Research Scientist, Laborato..."
JobSatisfaction,int64,1470,0,0.00,4,"[4, 2, 3, 1]"
MaritalStatus,object,1470,0,0.00,3,"[Single, Married, Divorced]"
MonthlyIncome,int64,1470,0,0.00,1349,"[5993, 5130, 2090, 2909, 3468, 3068, 2670, 269..."
MonthlyRate,int64,1470,0,0.00,1427,"[19479, 24907, 2396, 23159, 16632, 11864, 9964..."
NumCompaniesWorked,int64,1470,0,0.00,10,"[8, 1, 6, 9, 0, 4, 5, 2, 7, 3]"
Over18,object,1470,0,0.00,1,[Y]
OverTime,object,1470,0,0.00,2,"[Yes, No]"
PercentSalaryHike,int64,1470,0,0.00,15,"[11, 23, 15, 12, 13, 20, 22, 21, 17, 14, 16, 1..."
PerformanceRating,int64,1470,0,0.00,2,"[3, 4]"
RelationshipSatisfaction,int64,1470,0,0.00,4,"[1, 4, 2, 3]"
StandardHours,int64,1470,0,0.00,1,[80]
StockOptionLevel,int64,1470,0,0.00,4,"[0, 1, 3, 2]"
TotalWorkingYears,int64,1470,0,0.00,40,"[8, 10, 7, 6, 12, 1, 17, 5, 3, 31, 13, 0, 26, ..."
TrainingTimesLastYear,int64,1470,0,0.00,7,"[0, 3, 2, 5, 1, 4, 6]"
WorkLifeBalance,int64,1470,0,0.00,4,"[1, 3, 2, 4]"
YearsAtCompany,int64,1470,0,0.00,37,"[6, 10, 0, 8, 2, 7, 1, 9, 5, 4, 25, 3, 12, 14,..."
YearsInCurrentRole,int64,1470,0,0.00,19,"[4, 7, 0, 2, 5, 9, 8, 3, 6, 13, 1, 15, 14, 16,..."
YearsSinceLastPromotion,int64,1470,0,0.00,16,"[0, 1, 3, 2, 7, 4, 8, 6, 5, 15, 9, 13, 12, 10,..."
YearsWithCurrManager,int64,1470,0,0.00,18,"[5, 7, 0, 2, 6, 8, 3, 11, 17, 1, 4, 12, 9, 10,..."