# EDA
**Project notes** will be collected in the *project_notes.md* file.

## Preparation

### Libraries & Settings

In [ ]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Markdown

In [27]:
# set options
pd.set_option('display.float_format', '{:,.2f}'.format)

### Data

In [44]:
# read data
df = pd.read_csv("/".join(["../data/raw/", "hr-analytics-prediction", "HR-Employee-Attrition.csv"]))

# read data dictionary
Markdown(filename="../docs/data_dictionary.md")

| column                    | scale      | type | description |
|--------------------------:|:----------:|:----:|:------------|
| Age                       | metric     | int  | Age of the employee |
| Attrition                 | binary     | cat  | employee attrition (TARGET) |
| BusinessTravel            | category   | cat  | how frequently an employee travels for business purpose |
| DailyRate                 | metric     | int  | Daily Wage of an employee |
| Department                | category   | cat  | Employee department |
| DistanceFromHome          | metric     | int  | distance from home to office in km |
| Education                 | category   | int  | employee qualification (masked) |
| EducationField            | category   | cat  | Stream of education |
| EmployeeCount             | metric     | int  | Employee count |
| EmployeeNumber            | individual | int  | employee number |
| EnvironmentalSatisfaction | category   | int  | environment |
| Gender                    | binary     | cat  | gender of employee |
| HourlyRate                | metric     | int  | employee hourly rate |
| JobInvolvement            | category   | int  | employee job involvement |
| JobLevel                  | category   | int  | level of job |
| JobRole                   | cat        | cat  | employee job role |
| JobSatisfaction           | category   | int  | is employee satisfied? |
| MaritalStatus             | category   | cat  | employee marital status |
| MonthlyIncome             | metric     | int  | employee monthly income |
| MonthlyRate               | metric     | int  | employee monthly rate |
| NumCompaniesWorked        | metric     | int  | number of companies worked for |
| Over18                    | category   | cat  | age over 18 |
| OverTime                  | binary     | cat  | whether employee works overtime |
| PercentSalaryHike         | metric     | int  | salary hike |
| PerformanceRating         | category   | int  | performance rate |
| RelationshipSatisfaction  | category   | int  | relationship satisfaction |
| Standardhours             | metric     | int  | standard work hours per week |
| StockOptionLevel          | category   | int  | company stock option level |
| TotalWorkingYears         | metric     | int  | total working years |
| TrainingTimesLastYear     | metric     | int  | training time |
| WorkLifeBalance           | category   | int  | work life balance |
| YearsAtCompany            | metric     | int  | total years at current company |
| YearsInCurrentRole        | metric     | int  | total years in current role |
| YearsSinceLastPromotion   | metric     | int  | years since last promotion |
| YearsWithCurrentManager   | metric     | int  | years worked under current manager |

In [29]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469
Age,41,49,37,33,27,32,59,30,38,36,...,29,50,39,31,26,36,39,27,49,34
Attrition,Yes,No,Yes,No,No,No,No,No,No,No,...,No,Yes,No,No,No,No,No,No,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Frequently,Travel_Rarely,...,Travel_Rarely,Travel_Rarely,Travel_Rarely,Non-Travel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Frequently,Travel_Rarely
DailyRate,1102,279,1373,1392,591,1005,1324,1358,216,1299,...,468,410,722,325,1167,884,613,155,1023,628
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,...,Research & Development,Sales,Sales,Research & Development,Sales,Research & Development,Research & Development,Research & Development,Sales,Research & Development
DistanceFromHome,1,8,2,3,2,2,3,24,23,27,...,28,28,24,5,5,23,6,4,2,8
Education,2,1,2,4,1,2,3,1,3,3,...,4,3,1,3,3,2,1,3,3,3
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical,Life Sciences,Medical,Life Sciences,Life Sciences,Medical,...,Medical,Marketing,Marketing,Medical,Other,Medical,Medical,Life Sciences,Medical,Medical
EmployeeCount,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
EmployeeNumber,1,2,4,5,7,8,10,11,12,13,...,2054,2055,2056,2057,2060,2061,2062,2064,2065,2068
EnvironmentSatisfaction,2,3,4,4,1,4,3,4,4,3,...,4,4,2,2,4,3,4,2,4,2
Gender,Female,Male,Male,Female,Male,Male,Female,Male,Male,Male,...,Female,Male,Female,Male,Female,Male,Male,Male,Male,Male
HourlyRate,94,61,92,56,40,79,81,67,44,94,...,73,39,60,74,30,41,42,87,63,82
JobInvolvement,3,2,2,3,3,3,4,3,2,3,...,2,2,2,3,2,4,2,4,2,4
JobLevel,2,2,1,1,1,1,1,1,3,2,...,1,3,4,2,1,2,3,2,2,2
JobRole,Sales Executive,Research Scientist,Laboratory Technician,Research Scientist,Laboratory Technician,Laboratory Technician,Laboratory Technician,Laboratory Technician,Manufacturing Director,Healthcare Representative,...,Research Scientist,Sales Executive,Sales Executive,Manufacturing Director,Sales Representative,Laboratory Technician,Healthcare Representative,Manufacturing Director,Sales Executive,Laboratory Technician
JobSatisfaction,4,2,3,3,2,4,1,3,3,3,...,1,1,4,1,3,4,1,2,2,3
MaritalStatus,Single,Married,Single,Married,Married,Single,Married,Divorced,Single,Married,...,Single,Divorced,Married,Single,Single,Married,Married,Married,Married,Married
MonthlyIncome,5993,5130,2090,2909,3468,3068,2670,2693,9526,5237,...,3785,10854,12031,9936,2966,2571,9991,6142,5390,4404
MonthlyRate,19479,24907,2396,23159,16632,11864,9964,13335,8787,16577,...,8489,16586,8828,3787,21378,12290,21457,5174,13243,10228
NumCompaniesWorked,8,1,6,1,9,0,4,1,0,6,...,1,4,0,0,0,4,4,1,2,2
Over18,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y
OverTime,Yes,No,Yes,Yes,No,No,Yes,No,No,No,...,No,Yes,No,No,No,No,No,Yes,No,No
PercentSalaryHike,11,23,15,11,12,13,20,22,21,13,...,14,13,11,19,18,17,15,20,14,12
PerformanceRating,3,4,3,3,3,3,4,4,4,3,...,3,3,3,3,3,3,3,4,3,3
RelationshipSatisfaction,1,4,2,3,4,3,1,2,2,2,...,2,2,1,2,4,3,1,2,4,1
StandardHours,80,80,80,80,80,80,80,80,80,80,...,80,80,80,80,80,80,80,80,80,80
StockOptionLevel,0,1,0,0,1,0,3,1,0,2,...,0,1,1,0,0,1,1,1,0,0
TotalWorkingYears,8,10,7,8,6,8,12,1,10,17,...,5,20,21,10,5,17,9,6,17,6
TrainingTimesLastYear,0,3,3,3,3,2,3,2,2,3,...,3,3,2,2,2,3,5,0,3,3
WorkLifeBalance,1,3,3,3,3,2,2,3,3,2,...,1,3,2,3,3,3,3,3,2,4
YearsAtCompany,6,10,0,8,2,7,1,1,9,7,...,5,3,20,9,4,5,7,6,9,4
YearsInCurrentRole,4,7,0,7,2,7,0,0,7,7,...,4,2,9,4,2,2,7,2,6,3
YearsSinceLastPromotion,0,1,0,3,2,3,0,0,1,7,...,0,2,9,1,0,0,1,0,0,1
YearsWithCurrManager,5,7,0,0,2,6,0,0,8,7,...,4,0,6,7,0,3,7,3,8,2

In [30]:
#duplicates
df.duplicated().sum()

#duplicates without ID
df.drop("EmployeeNumber", axis=1).duplicated().sum()

np.int64(0)

In [31]:
def overview(df=df):
    display(pd.DataFrame({"dtypes": df.dtypes,
                        "total": df.count(),
                        "missing_n": df.isna().sum(),
                        "missing_%": df.isna().mean(),
                        "uniques_n": df.nunique(),
                        "uniques": [df[col].unique() for col in df.columns]
                        }))

overview()

,dtypes,total,missing_n,missing_%,uniques_n,uniques
Age,int64,1470,0,0.00,43,"[41, 49, 37, 33, 27, 32, 59, 30, 38, 36, 35, 2..."
Attrition,object,1470,0,0.00,2,"[Yes, No]"
BusinessTravel,object,1470,0,0.00,3,"[Travel_Rarely, Travel_Frequently, Non-Travel]"
DailyRate,int64,1470,0,0.00,886,"[1102, 279, 1373, 1392, 591, 1005, 1324, 1358,..."
Department,object,1470,0,0.00,3,"[Sales, Research & Development, Human Resources]"
DistanceFromHome,int64,1470,0,0.00,29,"[1, 8, 2, 3, 24, 23, 27, 16, 15, 26, 19, 21, 5..."
Education,int64,1470,0,0.00,5,"[2, 1, 4, 3, 5]"
EducationField,object,1470,0,0.00,6,"[Life Sciences, Other, Medical, Marketing, Tec..."
EmployeeCount,int64,1470,0,0.00,1,[1]
EmployeeNumber,int64,1470,0,0.00,1470,"[1, 2, 4, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16,..."
EnvironmentSatisfaction,int64,1470,0,0.00,4,"[2, 3, 4, 1]"
Gender,object,1470,0,0.00,2,"[Female, Male]"
HourlyRate,int64,1470,0,0.00,71,"[94, 61, 92, 56, 40, 79, 81, 67, 44, 84, 49, 3..."
JobInvolvement,int64,1470,0,0.00,4,"[3, 2, 4, 1]"
JobLevel,int64,1470,0,0.00,5,"[2, 1, 3, 4, 5]"
JobRole,object,1470,0,0.00,9,"[Sales Executive, Research Scientist, Laborato..."
JobSatisfaction,int64,1470,0,0.00,4,"[4, 2, 3, 1]"
MaritalStatus,object,1470,0,0.00,3,"[Single, Married, Divorced]"
MonthlyIncome,int64,1470,0,0.00,1349,"[5993, 5130, 2090, 2909, 3468, 3068, 2670, 269..."
MonthlyRate,int64,1470,0,0.00,1427,"[19479, 24907, 2396, 23159, 16632, 11864, 9964..."
NumCompaniesWorked,int64,1470,0,0.00,10,"[8, 1, 6, 9, 0, 4, 5, 2, 7, 3]"
Over18,object,1470,0,0.00,1,[Y]
OverTime,object,1470,0,0.00,2,"[Yes, No]"
PercentSalaryHike,int64,1470,0,0.00,15,"[11, 23, 15, 12, 13, 20, 22, 21, 17, 14, 16, 1..."
PerformanceRating,int64,1470,0,0.00,2,"[3, 4]"
RelationshipSatisfaction,int64,1470,0,0.00,4,"[1, 4, 2, 3]"
StandardHours,int64,1470,0,0.00,1,[80]
StockOptionLevel,int64,1470,0,0.00,4,"[0, 1, 3, 2]"
TotalWorkingYears,int64,1470,0,0.00,40,"[8, 10, 7, 6, 12, 1, 17, 5, 3, 31, 13, 0, 26, ..."
TrainingTimesLastYear,int64,1470,0,0.00,7,"[0, 3, 2, 5, 1, 4, 6]"
WorkLifeBalance,int64,1470,0,0.00,4,"[1, 3, 2, 4]"
YearsAtCompany,int64,1470,0,0.00,37,"[6, 10, 0, 8, 2, 7, 1, 9, 5, 4, 25, 3, 12, 14,..."
YearsInCurrentRole,int64,1470,0,0.00,19,"[4, 7, 0, 2, 5, 9, 8, 3, 6, 13, 1, 15, 14, 16,..."
YearsSinceLastPromotion,int64,1470,0,0.00,16,"[0, 1, 3, 2, 7, 4, 8, 6, 5, 15, 9, 13, 12, 10,..."
YearsWithCurrManager,int64,1470,0,0.00,18,"[5, 7, 0, 2, 6, 8, 3, 11, 17, 1, 4, 12, 9, 10,..."

In [ ]:
# Transform target
df["Attrition"] = df["Attrition"].replace({"Yes": 1, "No": 0}).astype(int)

C:\Users\Christian Roden\AppData\Local\Temp\ipykernel_31064\2931871255.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Attrition"] = df["Attrition"].replace({"Yes": 1, "No": 0}).astype(int)

In [37]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,"1,470.00",36.92,9.14,18.00,30.00,36.00,43.00,60.00
Attrition,"1,470.00",0.16,0.37,0.00,0.00,0.00,0.00,1.00
DailyRate,"1,470.00",802.49,403.51,102.00,465.00,802.00,"1,157.00","1,499.00"
DistanceFromHome,"1,470.00",9.19,8.11,1.00,2.00,7.00,14.00,29.00
Education,"1,470.00",2.91,1.02,1.00,2.00,3.00,4.00,5.00
EmployeeCount,"1,470.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
EmployeeNumber,"1,470.00","1,024.87",602.02,1.00,491.25,"1,020.50","1,555.75","2,068.00"
EnvironmentSatisfaction,"1,470.00",2.72,1.09,1.00,2.00,3.00,4.00,4.00
HourlyRate,"1,470.00",65.89,20.33,30.00,48.00,66.00,83.75,100.00
JobInvolvement,"1,470.00",2.73,0.71,1.00,2.00,3.00,3.00,4.00
JobLevel,"1,470.00",2.06,1.11,1.00,1.00,2.00,3.00,5.00
JobSatisfaction,"1,470.00",2.73,1.10,1.00,2.00,3.00,4.00,4.00
MonthlyIncome,"1,470.00","6,502.93","4,707.96","1,009.00","2,911.00","4,919.00","8,379.00","19,999.00"
MonthlyRate,"1,470.00","14,313.10","7,117.79","2,094.00","8,047.00","14,235.50","20,461.50","26,999.00"
NumCompaniesWorked,"1,470.00",2.69,2.50,0.00,1.00,2.00,4.00,9.00
PercentSalaryHike,"1,470.00",15.21,3.66,11.00,12.00,14.00,18.00,25.00
PerformanceRating,"1,470.00",3.15,0.36,3.00,3.00,3.00,3.00,4.00
RelationshipSatisfaction,"1,470.00",2.71,1.08,1.00,2.00,3.00,4.00,4.00
StandardHours,"1,470.00",80.00,0.00,80.00,80.00,80.00,80.00,80.00
StockOptionLevel,"1,470.00",0.79,0.85,0.00,0.00,1.00,1.00,3.00
TotalWorkingYears,"1,470.00",11.28,7.78,0.00,6.00,10.00,15.00,40.00
TrainingTimesLastYear,"1,470.00",2.80,1.29,0.00,2.00,3.00,3.00,6.00
WorkLifeBalance,"1,470.00",2.76,0.71,1.00,2.00,3.00,3.00,4.00
YearsAtCompany,"1,470.00",7.01,6.13,0.00,3.00,5.00,9.00,40.00
YearsInCurrentRole,"1,470.00",4.23,3.62,0.00,2.00,3.00,7.00,18.00
YearsSinceLastPromotion,"1,470.00",2.19,3.22,0.00,0.00,1.00,3.00,15.00
YearsWithCurrManager,"1,470.00",4.12,3.57,0.00,2.00,3.00,7.00,17.00

In [35]:
df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object