# Model training

#### imports & settings

In [9]:
# basics
import numpy as np
import pandas as pd

# model selection
from sklearn.model_selection import train_test_split


# settings
pd.set_option('display.float_format', '{:,.2f}'.format)
random_state = 42

#### Read data

In [7]:
df = pd.read_csv("../data/raw/hr-analytics-prediction/HR-Employee-Attrition.csv", 
                 usecols=["Attrition",
                          "Age",
                          "BusinessTravel", 
                          "Education", 
                          "EducationField", 
                          "EnvironmentSatisfaction",
                          "JobInvolvement",
                          "JobLevel",
                          "JobRole",
                          "JobSatisfaction",
                          "MaritalStatus",
                          "OverTime",
                          "RelationshipSatisfaction",
                          "StockOptionLevel",
                          "TotalWorkingYears",
                          "TrainingTimesLastYear",
                          "WorkLifeBalance",
                          "YearsAtCompany",
                          "YearsWithCurrManager"])
df

,Age,Attrition,BusinessTravel,Education,EducationField,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,OverTime,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsWithCurrManager
0,41,Yes,Travel_Rarely,2,Life Sciences,2,3,2,Sales Executive,4,Single,Yes,1,0,8,0,1,6,5
1,49,No,Travel_Frequently,1,Life Sciences,3,2,2,Research Scientist,2,Married,No,4,1,10,3,3,10,7
2,37,Yes,Travel_Rarely,2,Other,4,2,1,Laboratory Technician,3,Single,Yes,2,0,7,3,3,0,0
3,33,No,Travel_Frequently,4,Life Sciences,4,3,1,Research Scientist,3,Married,Yes,3,0,8,3,3,8,0
4,27,No,Travel_Rarely,1,Medical,1,3,1,Laboratory Technician,2,Married,No,4,1,6,3,3,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,2,Medical,3,4,2,Laboratory Technician,4,Married,No,3,1,17,3,3,5,3
1466,39,No,Travel_Rarely,1,Medical,4,2,3,Healthcare Representative,1,Married,No,1,1,9,5,3,7,7
1467,27,No,Travel_Rarely,3,Life Sciences,2,4,2,Manufacturing Director,2,Married,Yes,2,1,6,0,3,6,3
1468,49,No,Travel_Frequently,3,Medical,4,2,2,Sales Executive,2,Married,No,4,0,17,3,2,9,8
1469,34,No,Travel_Rarely,3,Medical,2,4,2,Laboratory Technician,3,Married,No,1,0,6,3,4,4,2

In [12]:
# train-test-split
X_train, X_test, y_train, y_test = train_test_split(df.drop("Attrition", axis=1),
                                                    df["Attrition"],
                                                    test_size=0.2,
                                                    random_state=random_state,
                                                    stratify=df["Attrition"])